<div class= 'container-sm w-25 right'>
    <h2 class='text-white' align='center'>Login With</h2>
    <div align='center'>
        <%= link_to 'Facebook', fb_login_path, class: 'btn btn-primary' %>
        <%= link_to 'Google', login_path, class: 'btn btn-info' %>
    </div>
</div><br />

<div class='row'>
    <h5 class='col text-white' align='center'>Or Create an Account to Make Appointments</h5>
</div>

<%= render partial: 'customer', locals: {customer: @customer} %>